use flake

# Override Nix's DEVELOPER_DIR to use system Xcode tools
# Fixes "Platform key FamilyDisplayName" warning from old xcbuild
# See: https://github.com/jetify-com/devbox/issues/2754
if [ -d /Library/Developer/CommandLineTools ]; then
  export DEVELOPER_DIR=/Library/Developer/CommandLineTools
fi
